$siteBgColorCustom: #e7f3f6;
$sidebarBgColorCustom: #b8d8e0;
$textColorCustom: #0a0c26;
$sidebarTextColorCustom: #0a0c26;
$headlineColorCustom: #1c385d;
$headingColorCustom: #1c385d;
$bodyLinkColorCustom: #96253d;
$navLinkColorCustom: #96253d;
$sidebarLinkColorCustom: #1c6278;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f12c58;
$buttonHoverTextColorCustom: #f8f7f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #96253d;
$borderColorCustom: #b9d0d6;

$siteBgColorDark: #151715;
$sidebarBgColorDark: #332e2f;
$textColorDark: #f9faf5;
$sidebarTextColorDark: #e5fee0;
$headlineColorDark: #a4c993;
$headingColorDark: #a4c993;
$bodyLinkColorDark: #eccd37;
$navLinkColorDark: #eccd37;
$sidebarLinkColorDark: #e5bb67;
$footerTextColorDark: #a4c993;
$buttonTextColorDark: #cee4cf;
$buttonHoverTextColorDark: #151715;
$buttonBgColorDark: #ffffff;
$buttonHoverBgColorDark: #eccd37;
$borderColorDark: #cee4cf;